.wrapper
        {
        width: 600px;
        margin: 0 auto;
        }
table tr td:last-child
        {
            width: 120px;
        }
        .vertical-center {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }
              .center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              }
              .preview{
                display: block;
                width: 100px;
                height: 100px;
                border: 1px solid black;
                margin-top: 10px;
                background: white;
            }
            .image-preview{
                width:300px;
                min-height:100px;
                border: 2px solid #dddddd;
                margin-top: 15px;
    
                display: flex;
                align-items: center;
                justify-content:center;
                font-weight:bold;
                color:#cccccc;
            }
            .image-preview__image{
                display:none;
                width:100%;
            }